* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

.search-bar-container {
  padding-top: 20vh;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

#search-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  #search-title {
      font-size: 2rem;
  }
}
